.w-92 {
  width: 23rem;
}
.w-116 {
  width: 29rem;
}
.w-102 {
  width: 25.5rem;
}
.w-98 {
  width: 24.5rem;
}

.w-94 {
  width: 23.5rem;
}

.w-90 {
  width: 22.5rem;
}

.w-88 {
  width: 22rem;
}

.w-74 {
  width: 18rem;
}

.w-70 {
  width: 17.5rem;
}

.w-68 {
  width: 17rem;
}
.w-44 {
  width: 11rem;
}
.h-253 {
  height: 63.25rem;
}
.h-200 {
  height: 50rem;
}
.h-164 {
  height: 41rem;
}
.h-160 {
  height: 40rem;
}
.h-150 {
  height: 37.5rem;
}
.h-173 {
  height: 43.25rem;
}
.h-100 {
  height: 25rem;
}

.h-95 {
  height: 23.75rem;
}
.h-90 {
  height: 22.5rem;
}
.h-26 {
  height: 6.5rem;
}
.h-18 {
  height: 4.5rem;
}
.h-16 {
  height: 4rem;
}
.h-11 {
  height: 2.75rem;
}
.h-7 {
  height: 1.75rem;
}
.h-63\/500 {
  height: 0.032rem;
}
.h-63\/1000{
    height: 0.016rem;
}
.border-1 {
  border-width: 1px;
}
